<h2>Classical CHill</h2>
<h3>Search for a composer below</h3>
<form method="GET" action="/track">
    <label for="q"></label>
composer: <input id="q" type="text" name="composer">
Work: <input id="q" type="text" name="track">
<input type="submit">
</form>