<% if (result) { %> 
      
        <div>                 
            <h2><%=result.name%></h2>  
            <img src="<%=result.album.images[0].url%>"alt="hello">
        </div> 
        <audio controls>
            <source src="<%=result.preview_url%>" />
        </audio>
<% } else { %> 
    <div>track not found</div>
<% } %> 




    <div class="faves">
      <form method="POST" action="/profile">
        <input hidden type="text" name="name" value="<%= result.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorites</button>
      </form>
    </div>
  