<% if (tracks) { %> 
    <% tracks.forEach(track =>{ %>     
        <div>                 
            <a href="/track/<%=track.id%>"><h2><%=track.name%></h2></a>    
        </div> 
    <% }); %> 
<% } else { %> 
    <div>track not found</div>
<% } %> 