body{
  margin: 0 auto;
  background-image: url("https://lh3.googleusercontent.com/2v6qo4HurMjVhuH_JoK9qLcS_w-OmBwapVnEioYFy8QItFg-CUBQZzc5yQZYm5M2rII44F1F9-vffGyZg3BZ8CD82E9WeRGNmL99zJsX3t1Iw6m78A5LsWQ2_dKVjf2AyzS_PM9iB8ENCwwG-3WpNVNDZyqIfbuMQVQO4z4IgR39f4Syjb87_sRCEl-LeNEpsRQtVlD2bue0-9x6wzuzqWmwLQZRr21octkhOylPz26HE1h7fFWUZkmD80fCs-OqP_LFZb2poKFfiit2661G2DFlcwmQDenFslKJO5E7dEd6kBJlxfkON96AL6FzUOSogPEhKXwAAoj5mzzwWmcJZOqsXOJbkEdJ9CTWku4pEpbLfF1-x-nXEob0ZLi9myULLbv-3oNWuvJvb-fIFUWCjLxzKkEY2lSwMiZKspaPULQX1b7DR_JoI6qiKPWGDo8AxqX7e0ZZAMNni-vT65d9pRhEbJXdoI-mBSTw37oNt6ttdkiE2A-abDygJAHMyZqg0GoUYuXEtzzdkV9zT4I3OKk91vBW-aHdfQ_6WOEJVhoYfCpF3KgP22_d6Zhw9VbmDYYZjL8025EinyA9hiG-CVR3gBFnmSKZ2aOSq5Qc5e7NoxCzm6dEeZPKbVBVEVGvOf80Rb07cIjNQLV_qoOdmYBEFuSvQk-F2oziGl_F9bJq8xud87pFd1lxx5uJ=w1472-h920-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e3eff5;
  text-shadow: #0d3453 2px 4px 7px;
  text-align: center;
  text-decoration: none;
  font-family: harbour;
}
    body:link {
      text-decoration: none;
  
    }
    body:visited {
      text-decoration: none;
    }
    
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
 
}
label{
  font-size: 20px;
}
.nav{
  background: radial-gradient(circle, rgba(39,3,87,1) 0%, rgba(210,169,218,0.7413340336134453) 51%, rgba(30,184,163,1) 100%);
  padding: 50px;
  margin:0px;
  border-bottom: rgba(30,184,163,1) 4px groove;
  
  
}
  

#q{
  background-color: #a0d2eb;
}

.main-comment {
  width: 250px;
  height: 200px;
  background:  #a0d2eb;
}


#album{
  height: 350px;
  width: 350px;
  border: #ffd5cd 6px groove;
  border-radius: 15px 0px;
  
}
h2 {
  color: #e3eff5;
  text-shadow: #0d3453 7px 7px 7px;
  text-decoration: none;
  font-size: 26px;
  margin: 20px;
}
audio{
  margin: 10px;
  
}
.navh{
  background-color: rgb(37, 3, 68);
  margin: 0 auto;
  height:100px ;
  text-align: center;
  padding:20px;
  font-size: 40px;
  
}
.comments{
  
  font-style: italic;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  padding: 15px;
  
  
}

.faves{
  margin: 10px;
}
button{
  background: #e5eaf5;
}
footer{
  background-color: #e5eaf5;
  
}

.com-details{
  float:left;
  position: relative;
  bottom: 450px;
  left: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .nav-link:active {
  background: #8064A2 ;
}
.nav-link.active{
  background: #8064A2 ;
}
.text{
  margin: 15px;
  height: 30px;
  text-align: justify;
  background:  #a0d2eb;
  
}
#beethoven {
  border-radius: 20px 0px;
  height: 450px;
  width: 680px;
  border: 5px solid black;
  margin-top: 20px;
}
#trebel{
  height: 50px;
  width:50px;

}
h4{
  color: #e3eff5;
  text-shadow: #0d3453 2px 4px 7px;
}


.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

}


i {
  transition: all .3s;
}

i:hover {
  transform: scale(1.1) rotate(15deg);
  cursor: pointer;
}

.stars :checked ~ label {
  color: gold;
}
