body{
  margin: 0 auto;
  background-color: rgb(34, 31, 31);
  color: white;
  text-align: center;
  text-decoration: none;
  
  
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}
img{
  height: 300px;
  weight: 300px;
  border: oldlace 3px groove;
  
}
h2 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
audio{
  margin: 10px;
}